{% extends 'main/layout.html' %}
{% block title %}Рейс {{ route.from_to }}{% endblock %}
{% block content %}
    <div class="features">
        <h1>Рейс</h1>
        <h1>{{ route.from_to }}</h1>
        <h3>{{ route.from_to}}</h3>
                <h4>{{route.date}} - {{route.end_date}}</h4>
                <h4> {{route.description}}</h4>
                <p>{{route.big_text}}</p>
       <!-- <p>заглушка</p>
        <button class="btn btn-warning"> нюх бе</button>
            {{ routes }} -->
        <a href="{%  url 'route-delete' route.id %}">удолить</a>
        <a href="{%  url 'route-update' route.id %}">редакт</a>
        {# коммент типо #}
    </div>
{% endblock %}