
{% extends 'main/layout.html' %}
{% block title %}Про нас{% endblock %}
{% block content %}
<h1>Про нас</h1>
    <div class="preticket-strip">
        <p>Железнодорожная компания предлагает надежные и комфортабельные перевозки пассажиров и грузов по всей стране.
            Наши поезда оборудованы современными удобствами, а опытные профессионалы обеспечивают безопасность и качество обслуживания.
            Мы стремимся к высокому уровню сервиса и эффективной логистике, чтобы удовлетворить потребности наших клиентов в быстрой и надежной транспортировке.</p>
    </div>
{% endblock %}